################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Location-Point-is-Polygon/obj/Debug
/Location-Point-is-Polygon/bin/Debug
